<%= flash[:notice] %>
<%= form_tag("/static_pages/thank_you") do %>

<div id="contact-page" class="panel panel-default">
	<div class="panel-heading"><h1>Contact Us</h1></div>
	<div class="panel-body">
				<%= label_tag :name, "Name" %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>


				<%= label_tag :email, "Email Address" %>
				<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>

				<div class="form-group message">
					<%= label_tag :message, "Message" %>
					<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
	</div>
	<div class="panel-content">

			<%= submit_tag "Send", class: "btn btn-primary" %>

			<% end %>
	</div>
