
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
</div>
<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<div id="new-user">
  <div class="panel panel-default">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="panel panel-default">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="panel panel-default">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="panel panel-default">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="buttonholder">
    <%= button_tag "Submit", class: "btn btn-primary"%>
  </div>
</div>

<% end %>
</div>
