<div class="container-fluid">
	<div class="row">
		<div class="panel-content col-xs-2 col-md-5">
			<%= image_tag(product.image_url, class: "img-responsive", size: "500x650") %>
		</div>
		<div class="panel-body col-xs-4 col-md-7">
			<h1><%= link_to product.name, product %></h1>

			<p><%= product.description %></p>

			<p><%= product.color %></p>

			<p><%= product.price %></p>
		</div>
	</div>
</div>
